In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import os
from datetime import datetime

In [9]:
data = pd.read_csv('../data/sample_raw_news.csv', index_col = 0)

In [10]:
data.head()

,date,headline,source,url,section
956880,2018-09-08,It's Selfie Britain! The top 21 most popular s...,daily_mail,https://dailymail.co.uk/news/article-6145581/S...,news
1296444,2018-02-22,Former Ukip leader appears on TV with girlfrie...,daily_mail,https://dailymail.co.uk/wires/pa/article-54222...,wires
4526188,2019-04-07,Christopher Nolan’s new project is globe-trott...,independent,https://www.independent.co.uk/arts-entertainme...,arts-entertainment
1740434,2017-05-12,"South Sudan's ousted army chief ""in a fighting...",daily_mail,https://dailymail.co.uk/wires/reuters/article-...,wires
489920,2019-06-13,AP Photos: Hong Kong activists vow to keep up ...,daily_mail,https://dailymail.co.uk/wires/ap/article-71362...,wires

In [22]:
data['date'] = pd.to_datetime(data['date'])

In [38]:
by_news_org = data.groupby(by = 'source').count()

In [47]:
data['source'].value_counts()

independent    418
Name: source, dtype: int64

In [39]:
by_news_org

                   date  headline    url  section
source
daily_mail        63065     63065  63065    63065
evening_standard   5977      5977   5977     5977
express           14913     14913  14913    14913
guardian          10446     10446  10446    10446
independent        3941      3941   3941     3941
inews              1658      1658   1658     1658

In [29]:
data['date'][956880]

datetime.datetime(2018, 9, 8, 0, 0)